@charset "utf-8";
@import './reset.css';


.app-container {
  width: min(100% -30px, 1080px);
  min-height: 100svh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(235, 233, 233);
  font-family: "Inter", sans-serif;


}


.logo {
  height: 150px;
  margin-top: 50px;
}

h2 {

  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  padding: 20px;
  margin-top:20px;
   color: rgb(164, 163, 163);
}

.slogan {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  font-style: italic;
  color: rgb(255, 111, 0);
}

.input-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 30px;

}

input {

  width: 320px;
  padding-left: 10px;
  border-radius: 5px;
  height: 35px;
  background-color: rgb(205, 204, 204);
  

}

input::placeholder {
  color: rgb(72, 72, 72);
}

.creator-btn {
  border-radius: 5px;
  padding: 3px 10px;
  font-weight: 700;
  width: 70px;
  text-align: center;
  transition: 01s ease-in-out;
  color: rgb(45, 44, 44);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.creator-btn:hover {
  box-shadow:
    0 0 4px rgba(255, 140, 0, 0.8),
    0 0 8px rgba(255, 140, 0, 0.6),
    0 0 12px rgba(255, 140, 0, 0.4);
}


.error-container {
  height: 60px;
}

.error-message {
  color: rgb(255, 80, 80);
  font-size: 1.3rem;
  margin-bottom: 50px;
  padding-left: 30px;

}


.complete-btn-green {
  background-color: rgb(31, 245, 31);
  
}

.complete-btn-red,
.creator-btn {
  background-color: rgb(255, 111, 0);
}


.complete-btn-red,
.complete-btn-green,
.edit-btn,
.remove-btn {
  padding: 5px;
  border-radius: 50px;
}


.task-card {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 3px solid grey;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
}

.task-completed {
    border: 3px solid rgb(31, 245, 31);


}

.card-title {
  width: 900px;
  font-size:1.7rem ;
}

.card-date {
  width: 300px;
  font-style: italic;
  font-size: 1.4rem;
}